Repository lab-antwerp-1/home, pull requests merged in 2021-12, with the labels that each got.

#169 adding JS Datatypes to vocabulary (added folder javascript under vocabulary)
  vocabulary/javascript/datatypes.md
Labels: deliverable, individual, vocabulary, js

#170 Alina added js-variables.md
  README.md
  admin/data/students.json
  randomizer/index.html
  randomizer/styles.css
  vocabulary/js-variables.md
Labels: deliverable, vocabulary

#190 welcome-to-js-vocabulary.md
  vocabulary/welcome-to-js.md
Labels: deliverable, vocabulary

#172 add js snippet
  snippets/javascript/class-tag-on-scroll.md
Labels: deliverable, snippets, js, welcome-to-js

#186 Vocabulary js var
  README.md
  vocabulary/javascript/vartypes.md
Labels: chapter-1, vocabulary, welcome-to-js

#193 resize-div-snippet.md
  snippets/html-css/resize-div-snippet.md
Labels: deliverable, snippets

#189 ux-ui-vocabulary.md
  ux-ui-vocabulary.md
Labels: deliverable, vocabulary

#194 progress-bar-snippet.md
  snippets/javascript/progress-bar-snippet.md
Labels: deliverable, snippets

#200 Daniel bio file (Finally 😅 )
  .cspell.json
  student-bios/daniel.md
Labels: student-bio

#201 adding js vocabulary
  vocabulary/javascript/functions.md
Labels: deliverable, individual, vocabulary, welcome-to-js

#67 Vocabulary - Khaled
  vocabulary/workflow.md
Labels: deliverable, vocabulary

#205 JS Snippet/To check if an attribute with a specified name exists
  README.md
  snippets/html-css/resize-div-snippet.md
  snippets/javascript/check-if-an-attribute-exists.md
  snippets/javascript/progress-bar-snippet.md
  student-bios/daniel.md
  ux-ui-vocabulary.md
  vocabulary/welcome-to-js.md
Labels: documentation, deliverable, snippets, js

#212 update vocabulary/javascript/js-vocabulary.md to include 'lint'
  vocabulary/javascript/js-vocabulary.md
Labels: deliverable, vocabulary

#206 JS based simple calculator
  snippets/javascript/jscalculator.md
Labels: deliverable, snippets
