Repository lab-antwerp-1/home, pull requests merged in 2021-11, with the labels that each got.

#103 Update npm commands
  vocabulary/npm-commands-vocabulary.md
  vocabulary/pix/npm-validate.gif
Labels: documentation, chapter-3, deliverable, vocabulary

#116 center-element-snippet.md
  admin/seeds/README.md
  admin/seeds/snippets-readme.md
  admin/seeds/snippets-template.md
  admin/seeds/student-bios-readme.md
  admin/seeds/vocabulary-readme.md
  snippets/html-css/center-everything.md
Labels: deliverable, individual, snippets

#98 Snipet/mauricemat
  snippets/template.md
Labels: documentation

#120 add aviv.md to student bios
  admin/seeds/snippets--readme.md
  admin/seeds/snippets--template.md
  admin/seeds/student-bios--readme.md
  admin/seeds/vocabulary--readme.md
  student-bios/aviv82.md
Labels: chapter-1, deliverable, student-bio

#122 update link
  vocabulary/npm-commands-vocabulary.md
Labels: bug, deliverable, vocabulary

#119 update web-development-vocabulary.md
  vocabulary/web-development-vocabulary.md
Labels: documentation, deliverable, vocabulary

#118 font-size-snippets.md
  snippets/html-css/font-size-snippets.md
Labels: deliverable, individual, snippets

#127 agile-vocabulary.md
  vocabulary/agile-vocabulary.md
Labels: deliverable, vocabulary

#126 basic-vocabulary.md
  vocabulary/basic-vocabulary.md
Labels: deliverable, vocabulary

#129 Create flex-display.md
  snippets/html-css/flex-display.md
  vocabulary/vocabulary.md
Labels: chapter-3, deliverable, snippets

#146 Update npm vocab
  README.md
  snippets/html-css/flex-display.md
  vocabulary/git-commands.md
  vocabulary/npm-commands-vocabulary.md
  vocabulary/pix/lintcss.gif
Labels: chaper-4, deliverable, vocabulary

#160 Adding snippet and vocabulary: ui/ux
  snippets/html-css/contact-form.md
  vocabulary/favicon-html.md
Labels: deliverable, individual, vocabulary, snippets, ui/ux

#145 update flex display snippets
  README.md
  snippets/html-css/flex-display.md
Labels: chaper-4, deliverable, snippets

#137 adding vocabulary for ux/ui design
  vocabulary/ux-design-vocabulary.md
Labels: deliverable, vocabulary

#105 Darin vocab
  admin/seeds/README.md
  vocabulary/user-experience-terms.md
Labels: deliverable, vocabulary

#153 ux-design-terms
  vocabulary/ux-design-terms.md
Labels: deliverable, vocabulary

#161 Randomizer improvements ✨
  randomizer/index.html
  randomizer/styles.css
Labels: enhancement

#162 Alina added grid-properties.md
  README.md
  snippets/html-css/center-everything.md
  snippets/html-css/contact-form.md
  vocabulary/agile-vocabulary.md
  vocabulary/basic-vocabulary.md
  vocabulary/favicon-html.md
  vocabulary/grid-properties.md
  vocabulary/ux-design-terms.md
  vocabulary/ux-design-vocabulary.md
  vocabulary/web-development-vocabulary.md
Labels: deliverable, individual, vocabulary

#165 adding snippet responsive image
  snippets/html-css/responsive-image.md
Labels: deliverable, snippets, css

#166 adding css-color to vocabulary
  vocabulary/css-color.md
Labels: deliverable, vocabulary, css
