Repository lab-antwerp-1/home, pull requests merged in 2021-10, with the labels that each got.

#15 Feature aviv vocabulary update
  .cspell.json
  README.md
  vocabulary/npm-commands-vocabulary.md
  vocabulary/pix/npmformat.gif
  vocabulary/pix/npmlintmd.gif
  vocabulary/pix/npmspellcheck.gif
Labels: deliverable, vocabulary

#42 SanneSofie-Student bio
  admin/seeds/README.md
  student-bios/sanne-student-bio.md
Labels: deliverable, student-bio

#53 Update npm-commands-vocabulary.md
  vocabulary/npm-commands-vocabulary.md
Labels: vocabulary
