Repository lab-antwerp-1/home, pull requests merged in 2022-01, with the labels that each got.

#210 create addeventlistener.md
  snippets/javascript/addeventlistener.md
Labels: deliverable, snippets, js

#196 Alina: Added skipping-13.md (JS snippet)
  snippets/javascript/skipping-13.md
Labels: deliverable, snippets

#227 adding scope to vocabulary
  calendar/index.html
  calendar/style.css
  snippets/javascript/addeventlistener.md
  snippets/javascript/skipping-13.md
  vocabulary/javascript/scope.md
Labels: chapter-3, deliverable, individual, vocabulary, debugging

#229 Debugging snippets
  .cspell.json
  snippets/javascript/class-object.md
Labels: deliverable, snippets

#232 adding snippet try and catch
  snippets/javascript/tryandcatch.md
Labels: deliverable, individual, snippets, debugging

#228 Debugging vocabulary
  vocabulary/javascript/parameters-vs-arguments.md
Labels: deliverable, vocabulary

#235 added Snippets
  calendar/index.html
  package-lock.json
  package.json
  snippets/javascript/checked-state-changes.md
Labels: vocabulary, snippets

#236 adding debugging vocabulary
  vocabulary/debugging-statements-vs-expressions.md
Labels: deliverable, individual, vocabulary, debugging
